$columns: 24;
$offset: 10px;
$offset_one_side: ($offset / 2);
$atom: (100% / $columns);

$break_md: 992px;
$break_m: 1050px;
$break_sm: 720px;
$break_xs: 576px;
$break_xxs: 380px;

@mixin reset(){
    body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{
        margin: 0;
        padding: 0;
    }
    table{
        border-collapse: collapse;
        border-spacing: 0;
    }
    fieldset,img,abbr{
        border: 0;
    }
    address,caption,cite,code,dfn,em,strong,th,var{
        font-style: normal;
        font-weight: normal;
    }
    ul li{
        list-style: none;
    }
    caption,th{
        text-align: left;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 100%;
        font-weight: normal;
    }
    sup{
        vertical-align: text-top;
    }
    sub{
        vertical-align: text-bottom;
    }
    input,textarea,select{
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
    legend{
        color: #000;
    }
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{
        display: block;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}

@mixin wrapper(){
    max-width: 960px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;

    @media screen and (max-width: $break_md){
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (max-width: $break_m){
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (max-width: $break_sm){
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (max-width: $break_xs){
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (max-width: $break_xxs){
        padding-left: 5px;
        padding-right: 5px;
    }
}
@mixin row-flex(){
    display: flex;
    flex-wrap: wrap;
    margin-left: ($offset_one_side * -1);
    margin-right: ($offset_one_side * -1);
}
@mixin row-float(){
    margin-left: ($offset_one_side * -1);
    margin-right: ($offset_one_side * -1);
    @include clearfix();
}
@mixin col(){
    box-sizing: border-box;
    margin-left: $offset_one_side;
    margin-right: $offset_one_side;
    word-wrap: break-word;
}
@mixin col-float(){
    float: left;
}
@mixin col-padding(){
    padding-left: $offset_one_side;
    padding-right: $offset_one_side;
    word-wrap: break-word;
}
@mixin size($n){
    $value: $atom * $n;
    width: #{calc(#{$value} - #{$offset})};
}
@mixin offset($n){
    $value: $atom * $n;
    margin-left: #{calc(#{$value} + #{$offset_one_side})};
    margin-right: #{calc(#{$value} + #{$offset_one_side})};
}
@mixin offset-left($n){
    $value: $atom * $n;
    margin-left: #{calc(#{$value} + #{$offset_one_side})};
}
@mixin offset-right($n){
    $value: $atom * $n;
    margin-right: #{calc(#{$value} + #{$offset_one_side})};
}
@mixin offset-padding($n){
    $value: $atom * $n;
    padding-left: #{calc(#{$value} + #{$offset_one_side})};
    padding-right: #{calc(#{$value} + #{$offset_one_side})};
}
@mixin offset-left-padding($n){
    $value: $atom * $n;
    padding-left: #{calc(#{$value} + #{$offset_one_side})};
}
@mixin offset-right-padding($n){
    $value: $atom * $n;
    padding-right: #{calc(#{$value} + #{$offset_one_side})};
}
@mixin justify-content($value){
    justify-content: $value;
}
@mixin size-md($n){
    @media screen and (max-width: $break_md){
        $value: $atom * $n;
        width: #{calc(#{$value} - #{$offset})};
    }
}
@mixin offset-md($n){
    @media screen and (max-width: $break_md){
        $value: $atom * $n;
        margin-left: #{calc(#{$value} + #{$offset_one_side})};
        margin-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-left-md($n){
    @media screen and (max-width: $break_md){
        $value: $atom * $n;
        margin-left: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-right-md($n){
    @media screen and (max-width: $break_md){
        $value: $atom * $n;
        margin-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-padding-md($n){
    @media screen and (max-width: $break_md){
        $value: $atom * $n;
        padding-left: #{calc(#{$value} + #{$offset_one_side})};
        padding-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-left-padding-md($n){
    @media screen and (max-width: $break_md){
        $value: $atom * $n;
        padding-left: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-right-padding-md($n){
    @media screen and (max-width: $break_md){
        $value: $atom * $n;
        padding-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin justify-content-md($value){
    @media screen and (max-width: $break_md){
        justify-content: $value;
    }
}
@mixin md($name, $value){
    @media screen and (max-width: $break_md){
        #{$name}: $value;
    }
}
@mixin md-block(){
    @media screen and (max-width: $break_md){
        @content;
    }
}
@mixin size-m($n){
    @media screen and (max-width: $break_m){
        $value: $atom * $n;
        width: #{calc(#{$value} - #{$offset})};
    }
}
@mixin offset-m($n){
    @media screen and (max-width: $break_m){
        $value: $atom * $n;
        margin-left: #{calc(#{$value} + #{$offset_one_side})};
        margin-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-left-m($n){
    @media screen and (max-width: $break_m){
        $value: $atom * $n;
        margin-left: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-right-m($n){
    @media screen and (max-width: $break_m){
        $value: $atom * $n;
        margin-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-padding-m($n){
    @media screen and (max-width: $break_m){
        $value: $atom * $n;
        padding-left: #{calc(#{$value} + #{$offset_one_side})};
        padding-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-left-padding-m($n){
    @media screen and (max-width: $break_m){
        $value: $atom * $n;
        padding-left: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-right-padding-m($n){
    @media screen and (max-width: $break_m){
        $value: $atom * $n;
        padding-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin justify-content-m($value){
    @media screen and (max-width: $break_m){
        justify-content: $value;
    }
}
@mixin m($name, $value){
    @media screen and (max-width: $break_m){
        #{$name}: $value;
    }
}
@mixin m-block(){
    @media screen and (max-width: $break_m){
        @content;
    }
}
@mixin size-sm($n){
    @media screen and (max-width: $break_sm){
        $value: $atom * $n;
        width: #{calc(#{$value} - #{$offset})};
    }
}
@mixin offset-sm($n){
    @media screen and (max-width: $break_sm){
        $value: $atom * $n;
        margin-left: #{calc(#{$value} + #{$offset_one_side})};
        margin-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-left-sm($n){
    @media screen and (max-width: $break_sm){
        $value: $atom * $n;
        margin-left: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-right-sm($n){
    @media screen and (max-width: $break_sm){
        $value: $atom * $n;
        margin-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-padding-sm($n){
    @media screen and (max-width: $break_sm){
        $value: $atom * $n;
        padding-left: #{calc(#{$value} + #{$offset_one_side})};
        padding-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-left-padding-sm($n){
    @media screen and (max-width: $break_sm){
        $value: $atom * $n;
        padding-left: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-right-padding-sm($n){
    @media screen and (max-width: $break_sm){
        $value: $atom * $n;
        padding-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin justify-content-sm($value){
    @media screen and (max-width: $break_sm){
        justify-content: $value;
    }
}
@mixin sm($name, $value){
    @media screen and (max-width: $break_sm){
        #{$name}: $value;
    }
}
@mixin sm-block(){
    @media screen and (max-width: $break_sm){
        @content;
    }
}
@mixin size-xs($n){
    @media screen and (max-width: $break_xs){
        $value: $atom * $n;
        width: #{calc(#{$value} - #{$offset})};
    }
}
@mixin offset-xs($n){
    @media screen and (max-width: $break_xs){
        $value: $atom * $n;
        margin-left: #{calc(#{$value} + #{$offset_one_side})};
        margin-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-left-xs($n){
    @media screen and (max-width: $break_xs){
        $value: $atom * $n;
        margin-left: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-right-xs($n){
    @media screen and (max-width: $break_xs){
        $value: $atom * $n;
        margin-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-padding-xs($n){
    @media screen and (max-width: $break_xs){
        $value: $atom * $n;
        padding-left: #{calc(#{$value} + #{$offset_one_side})};
        padding-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-left-padding-xs($n){
    @media screen and (max-width: $break_xs){
        $value: $atom * $n;
        padding-left: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-right-padding-xs($n){
    @media screen and (max-width: $break_xs){
        $value: $atom * $n;
        padding-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin justify-content-xs($value){
    @media screen and (max-width: $break_xs){
        justify-content: $value;
    }
}
@mixin xs($name, $value){
    @media screen and (max-width: $break_xs){
        #{$name}: $value;
    }
}
@mixin xs-block(){
    @media screen and (max-width: $break_xs){
        @content;
    }
}
@mixin size-xxs($n){
    @media screen and (max-width: $break_xxs){
        $value: $atom * $n;
        width: #{calc(#{$value} - #{$offset})};
    }
}
@mixin offset-xxs($n){
    @media screen and (max-width: $break_xxs){
        $value: $atom * $n;
        margin-left: #{calc(#{$value} + #{$offset_one_side})};
        margin-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-left-xxs($n){
    @media screen and (max-width: $break_xxs){
        $value: $atom * $n;
        margin-left: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-right-xxs($n){
    @media screen and (max-width: $break_xxs){
        $value: $atom * $n;
        margin-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-padding-xxs($n){
    @media screen and (max-width: $break_xxs){
        $value: $atom * $n;
        padding-left: #{calc(#{$value} + #{$offset_one_side})};
        padding-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-left-padding-xxs($n){
    @media screen and (max-width: $break_xxs){
        $value: $atom * $n;
        padding-left: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin offset-right-padding-xxs($n){
    @media screen and (max-width: $break_xxs){
        $value: $atom * $n;
        padding-right: #{calc(#{$value} + #{$offset_one_side})};
    }
}
@mixin justify-content-xxs($value){
    @media screen and (max-width: $break_xxs){
        justify-content: $value;
    }
}
@mixin xxs($name, $value){
    @media screen and (max-width: $break_xxs){
        #{$name}: $value;
    }
}
@mixin xxs-block(){
    @media screen and (max-width: $break_xxs){
        @content;
    }
}
@mixin debug($background, $outline){
    height: 100vh;
    position: fixed;
    width: 100%;
    
    > div{
        height: inherit;
        @include wrapper();
        
        > div{
            height: inherit;
            @include row-flex();
            
            > div{
                @include col();
                @include size(1);
                height: inherit;
                outline: $outline;
                background: $background;
            }
        }
    }
}
@mixin clearfix(){
    &::after{
        display: block;
        content: "";
        clear: both;
    }
}
