@import "smart-grid.scss";
@font-face {
  font-family: "Lato-Regular"; 
  src: url("../fonts/Lato-Regular.ttf"); 
}

body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td,menu{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,abbr{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ul li,menu li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}

@include reset();

a {
	text-decoration: none;
	color: #000;
}

body {
	font-family: "Lato-Regular";
	font-size: 16px;
	line-height: 34px;
}

img{
    max-width: 100%;
}

.field label  {
	font-size: 1.1em;
	margin: 20px 0 5px;
}

.title {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	font-size: 1.1em;
	margin: 50px 0 30px;
	@include xs(text-align, center);
	@include xs(margin, 40px 0 30px);
	@include xxs(margin, 40px 4% 30px);
}

.wrap {
	@include wrapper();
}

.block {
	@include row-flex;
	@include justify-content(space-between);
	@include justify-content-sm(center);
}

.sidebar {
	@include row-flex;
	@include justify-content(space-between);
	@include xs(display, block);
}

p {
	text-align: justify;
	@include xs(line-height, 1.8em);
	@include xxs(font-size, 1.2em);
	@include xxs(margin, 0 4%);
}

.indent {
	margin-bottom: 15px;
}

header {
	background-image: url("../img/header.jpg");
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	// position: fixed;
	// width: 100%;

	.wrap .sidebar {
		
		.logotype {
			padding-top: 20px;
			padding-bottom: 20px;
			width: 25%;
			line-height: 0;
			@include sm (width, 20%);
			@include xs (width, 30%);
			@include xs (margin, auto);
		}

		nav {
			@include row-flex;
			justify-content: center;
			margin-top: auto;
			font-weight: 700;
			font-size: 0.8em;
			margin-bottom: 20px;
			@include xs (padding-bottom, 20px);
			@include xxs (flex-direction, column);
			@include xxs (text-align, center);

		}
	}
}

.item {
	border-right: 1px solid #000;
	padding: 2px 15px 0;
	line-height: 1.6em;
	
	&:last-child {
		border: none;
	}

	&:hover {
		cursor: pointer;
		background-color: rgba(6, 6, 6, 0.30);
	}
}

.log {
	@include row-flex;
	justify-content: flex-end;

	.item {
		margin: 30px 0;
		border: 1px solid #000;
	}
}

main .wrap .projects {
	margin: 0 5px;
	@include row-float;

	.project {
		@include col();
		@include col-float();
		@include size(6);
		@include size-sm(8);
		@include size-xs(12);
		@include size-xxs(22);
		@include offset-xxs(1);
		position: relative;
		overflow: hidden;

		&:hover {
			cursor: pointer;

			.discription {
				opacity: 1;
				bottom: 0;
			}
		}

		.discription {
			background-color: rgba(0, 0, 0, 0.70);
			width: 100%;
			height: 100%;
			position: absolute;
			bottom: 100%;
			left: 0;
			text-align: center;
			color: #fff;
			margin-bottom: 5%; 
			padding-top: 10%;
			line-height: 25px;
			opacity: 0;
			transition: all .80s;
			@include m(margin-bottom, 6%);
			@include sm(margin-bottom, 7%);
			@include xs(margin-bottom, 5%);
			@include xxs(margin-bottom, 4%);

			.textWrap {
				padding: 42% 2% 0;

				.text {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
}

section {
	
	.wrap {

		.we {
			margin-bottom: 30px;
			@include xxs(margin, 0 auto 20px);
			@include xxs(width, 92%);
			@include xxs(display, block);
		}

		.mainMembers	{
			@include row-flex;
			@include justify-content(center);
			@include justify-content-md(space-between);

			.member {
				@include col();
				@include size(7);
				@include offset(1);
				@include size-md(11);
				@include offset-md(0);
				@include size-xs(12);
				@include size-xxs(22);
				@include offset-left-xxs(1);
			}
		}
		
		.members {
			@include row-flex;
			@include justify-content(space-between);

			.member {
				@include size(7);
				@include offset-m(0);
				@include size-md(11);
				@include size-xs(12);
				@include size-xxs(22);
				@include offset-left-xxs(1);
			}
		}

		.locations	{
			@include row-flex();
			@include justify-content(space-between);
			line-height: 2em;

			figure {
				@include col();
				@include size(11);
				@include size-sm(24);
				@include size-xxs(22);
				@include offset-xxs(1);
				
				&:first-child {
					@include offset-right-sm(0);
				}

				.location:first-child {
					padding-bottom: 10px;
					@include xs(padding-bottom, 0);
				}
			}
		}

		.block .contacts {
			padding-bottom: 80px;
		}
	}
}

.member {
	@include col();
	@include size(7);
	@include xs(font-size, 0.8em);
	@include xxs(font-size, 1em);
	@include xs(margin-bottom, 0);
	@include xs(margin-top, 15px);
	@include xxs(margin-top, 20px);
	@include xs(box-shadow, 0 0 20px rgba(0, 0, 0, 0.2));
	text-align: center;
	padding: 0 0 20px;
	line-height: 1.6em;
	@include row-flex();
	@include justify-content(flex-start);
	margin: 50px 5px 30px;
	flex-direction: column;

	.name {
		padding: 20px 0;
		@include sm(padding, 10px 0);
	}

	.data {
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		padding: 10px 0;
		margin: auto 20px 0;
		@include xs(margin, auto 15px 0);
	}

	.block {
		@include justify-content(center);
		@include md(flex-wrap, nowrap);
		
		.language {
			border: 1px solid #000;
			font-size: 0.8em;
			line-height: 0.8em;
			padding: 6px 15px;
			@include xs(padding, 5px 10px);
			@include xxs(padding, 6px 15px);
			margin: 15px 10px 0;
			@include offset-xxs(1);
			@include xs(margin, 10px 5px 0);
			@include xxs(margin, 15px 10px 0);
		}
	}
}

footer {
	background-image: url("../img/footer.jpg");
	background-color: #fff;
	height: 50px;
	padding-top: 20px;
	margin-top: 80px;
	@include xxs(margin-top, 40px);

	.copyright {
		@include xs(margin, 0 4%);
		font-size: 1em;	
	}
} 

.bg {
	padding: 40px 0;
	height: 100%;
}

.headline {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	font-size: 1.1em;
	@include xs(text-align, center);
	@include xs (margin, 40px 0 30px);
	@include xxs (margin, 40px 4% 30px);
}

.wrapper {
	@include wrapper();
	padding: 4% 0;
	background-color: #fff;
}

.galerie {
	position: relative;
	
	.security {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	img {
		padding-top: 20px;
	}
}

.discr {
	padding: 0 4%;
	text-align: justify;
	@include m (padding, 0 6%);
	@include xs (padding, 0 8%);
	
	p {
		margin: 4% 0;
	}
}

.btn {
	width: 87px;
	background-color: #000;
	padding: 10px 15px;
	border: 1px solid #000;
	line-height: 1em;
	margin: 80px 0 200px;

	a {
		color: #fff;
	}

	&:hover {
		background-color: #fff;

		a {
			color: #000;
		}
	}
}

.btnWrap {
	margin: 80px 0 200px; 
	
	input {
		background-color: #000;
		border: 1px solid #000;
		border: none;
		padding: 10px 15px;
		color: #fff;

		&:hover {
			cursor: pointer;
			border: 1px solid #000;
			background-color: #fff;
			color: #000; 
		}
	}
} 

.btnBack {
	text-align: right;

	a:hover {
		color: #969696;
	}
	
	span {
		text-align: center;
		padding: 2px 10px;	
		border-right: 1px solid #000;

		&:last-child {
			border: none;
		}

		a:hover {
			color: #969696;
		}
	}
}

.btnAdd input {
	padding: 5px 10px;
	border: 1px solid #000;
	background-color: #000;
	color: #fff;

	&:hover {
		background-color: #fff;
		color: #000; 
	}
}

table {
	margin-top: 50px;
	width: 100%;

	td {
		vertical-align: top;
		text-align: justify;
		padding-bottom: 20px;

		&:first-child {
			width: 15%;
		}
	}
}

.inputHolder {
	
	input {
		width: 800px;
		padding: 10px;
	}

	textarea{
		width: 100%;
		height: 250px;
		text-align: justify;
		padding: 10px;
		box-sizing: border-box;
	}
}

.borderBlock {
	border-bottom: 1ppx solid #d3d3d3;
}

.imgMainBlock {
	position: relative;
	width: 50%;

	.imgDiscr {
		position: absolute;
		bottom: 12px;
		left: 0;
		padding: 0 20px;
		background-color: rgba(225, 225, 225, 0.5);
	}

	.imgDel {
		position: absolute;
		top: 5px;
		right: 5px;
		padding: 5px;
		background-color: rgba(225, 225, 225, 0.5);
		line-height: 0;

		a {
			color: #000;
		}
	}
}

.imgBlock {
	position: relative;

	.imgDiscr {
		position: absolute;
		bottom: 11px;
		left: 0;
		padding: 0 20px;
		background-color: rgba(225, 225, 225, 0.5);
	}

	.imgDel {
		position: absolute;
		top: 5px;
		right: 5px;
		padding: 5px;
		background-color: rgba(225, 225, 225, 0.5);
		line-height: 0;
		
		a {
			color: #000;
		}
	}
}


/* Rails scafold*/
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
  padding: 20px;
  text-align: center;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}


  
/* Magnific Popup CSS */
  
.white-popup-block {
		position: relative;
    background: #FFF;
    padding: 2em 3em;
    width: auto;
    margin: 20px auto;
    max-width: 960px;
}

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
	cursor: pointer; }
	
	.contact-cont {
		display: flex;
	}

	.contact {
		width: 50%;
	}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

